.inline-block {
    display: inline-block;
    background-color: lavenderblush;
    padding: 15px;
    width: 150px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .header {
    background-color: lavender;
    padding: 5px;
  }
  .left {
    float: left;
    width: 30%;
    background-color: #81ae93;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  .right {
    float: left;
    width: 70%;
    background-color: lavender;
    height: 500px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container1 {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: monospace;
  }
  .container2 {
    background-color: lavenderblush;
    padding: 15px;
  }
  .image-container{
    height: 250px;
    background-color: #d3cfc8;
  }
  
  